# Folders for personal data/assets
html/side_projects
html/blog/posts/*.md
html/blog/tmp
html/blog/*.json
html/cv_site
html/projects
html/img
*.md

# Site configuration stuff
sitemap.xml
config.php
test.php

# GoodBans stuff
GoodBans/vendor/
*.db
GoodBans/current_patch.txt
/vendor/
