{% extends "base.html.twig" %}
{% block title %}
About Devin
{% endblock %}

{% block body %}
{{ parent() }}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      About Devin
    </h1>
  </div>
</div>
<div class="container">

  <div class="row mb-5">
    <div class="col-lg-6">
      <h1>The Man</h1>
      <p>Devin Gunay is a software engineer. Former PHP developer for
        <a href="http://feedonomics.com/">Feedonomics.</a>
        In his spare time he likes to code, play jazz piano, and play videogames,
        particularly Smash Ultimate.
      </p>

      <p>
        Devin is currently getting his Masters in Computer Science online from
        Georgia Tech while working full time.
      </p>
    </div>
    <div class="col-lg-6">
      <h1>The Programmer</h1>
      <p>
        Website lovingly made with Symfony 4.2 and Bootstrap 4.
      </p>
      <p>
        <a href="https://github.com/dgunay/good-bans">GoodBans</a> and the
        <a href="https://github.com/dgunay/flat-file-blog">blog backend</a> are
        available on GitHub.
      </p>
      <p>
        In addition to PHP, Devin (unfortunately) knows a quite a bit of Perl
        and C++.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h1>The Smasher</h1>
      <p>Going by Devin May Cry when he chooses to drown in pools, Devin likes
        to play Marth, Ganondorf, and Chrom/Roy in Super Smash Bros. Ultimate.
        Hit him up on <a href="https://twitter.com/devingunay">Twitter</a> if
        you would like wifi matches.
      </p>
    </div>

    <div class="col-lg-6">
      <h1>The Musician</h1>
      <p>
        Devin is and has been (emphasis on the has-been) many musical things, including:
        <ul>
          <li>A washed-up jazz pianist.</li>
          <li>A washed-up score arranger, especially in the <a href="http://gmeatucla.com/">VGM scene</a>.</li>
          <li>A piano teacher who was never good enough to become washed-up.</li>
          <li>Possibly the worst trumpet player in Los Angeles.</li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}