{% extends "base.html.twig" %}

{% block title %} Devin's Blog {% endblock %}

{% block body %}
{{ parent() }}

<!-- Top row -->
<div class="container" style="margin-bottom: 40px;margin-top: 40px;">
  <h1 class="display-3">Devin's Blog</h1>
</div>

<!-- Main -->
<div class="container">
  <div class="row">
    <!-- Content -->
    <div class="col-sm-8">
    Blog post(s) go here
    {# TODO: content eventually goes here #}
      {# <?php
					require_once($GLOBALS['parsedown_path']);
					require_once(__DIR__ . '/src/post_functions.php');

					$archive = load_archive();
					$most_recent_posts = array_slice($archive, 0, 5, true);
					$i = 0;
					$len = count($most_recent_posts);
					foreach ($most_recent_posts as $publish_date => $post) {
						echo render_post($post);

						if ($i < $len - 1) {
							echo '<hr>';
						}
						$i++;
					}
				?> #}
    </div>

    <!-- Side bar -->
    <div class="col-sm-3">
    Side bar eventually goes here
    {# TODO: make the sidebar logic + template #}
      {# <?php
					include($GLOBALS['blog_root'] . '/side_bar.php');
				?> #}
    </div>
  </div>
</div>
{% endblock %}