{% extends "base.html.twig" %}

{% block title %} Devin's Blog {% endblock %}

{% block stylesheets %}
{{ parent() }}
<!-- Styles blockquotes in a more pleasing way -->
<style>
  blockquote {
    border-left: 5px solid #ccc;
    background: #f9f9f9;
  }

  blockquote>p {
    margin: 1.5em 10px;
    padding: 10px;
  }
</style>

{% endblock %}

{% block body %}
{{ parent() }}

<!-- Top row banner -->
<div class="container" style="margin-bottom: 40px;margin-top: 40px;">
  <h1 class="display-3">Devin's Blog</h1>
</div>

<!-- Main container -->
<div class="container">
  <div class="row">
    <!-- Post content -->
    <div class="col-md-9">
      {% for post in posts %}
      <!-- Render the post -->
      {% include "post.html.twig" with { "post" : post } %}
      <hr />
      {% endfor %}
    </div>

    <!-- Side bar -->
    <div class="col-md-3">
      {% block sidebar %}
      {{ render(controller('App\\Controller\\Blog\\SideBarController::renderSideBar')) }}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}