{% extends "base.html.twig" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="display-2"> Good Bans </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p class="lead">A basic reimplementation of
          <a href="http://BestBans.com">BestBans.com</a>,
          which has been out of service since January 2017.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
</div>

{% endblock body %}